# Build artifacts
bin/
obj/

# .NET Core
*.dll
*.exe
*.pdb
*.user

# Visual Studio
.vs/
*.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.psess
*.vsp
*.vssscc
*.dll.refresh
*.gpState

# Project
UpgradeLog.xml
FodyWeavers.xml
FodyWeavers.xsd
light-bulb_46866.ico
Properties/PublishProfiles/FolderProfile.pubxml
Settings.json